NODE_ENV=development

# NestJS specific environment variables can be added here
# Base URL for the NestJS API (used by the web application to communicate with the API)
NEST_API_BASE_URL=http://localhost:3001

# NestJS API signing private key (used to sign requests)
# Command: openssl genpkey -algorithm Ed25519 -out nest-api-private.pem
NEST_API_SIGNING_PRIVATE_KEY="replace-with-generated-private-pem"