NODE_ENV=development
PORT=3001

# NestJS API signing public key verifies private key sign request
# Command: openssl pkey -in nest-api-private.pem -pubout -out nest-api-public.pem
NEST_API_SIGNING_PUBLIC_KEY="replace-with-generated-public-pem"