NODE_ENV=development
PORT=3001

# NestJS API signing public key
# Generated using a secure method, this key is used to verify the authenticity of API responses. It is safe to share publicly.
# Command: openssl pkey -in nest-api-private.pem -pubout -out nest-api-public.pem
NEST_API_SIGNING_PUBLIC_KEY=your-public-signing-key-here